<!----------------------------------- Advisors Section ----------------------------------->
<div class="featured_work" id="misc">
    <div class="advisors" style="margin-top: 30px; padding: 15px;">
        <h2 style="color: #1877F2; font-family: 'Georgia', serif; font-weight: bold;">Advisors</h2>
        <ul style="list-style-type: circle; padding-left: 20px; font-family: 'Georgia', serif; font-size: 16px; line-height: 1.8;">
          <li>
            <a href="https://scholar.google.com/citations?user=vNHqr3oAAAAJ&hl=en" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Prof. Liang Zheng
            </a> - Associate Professor
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;">Australian National University</span>
            </span>
          </li>
          <li>
            <a href="https://scholar.google.com.au/citations?user=YvdzeM8AAAAJ&hl=en" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Prof. Stephen Gould
            </a> - Senior Professor
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;"> ANU, Amazon Research</span>
            </span>
          </li>
          <li>
            <a href="https://scholar.google.com.au/citations?user=7hmCntEAAAAJ&hl=en" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Prof. Marcus Hutter
            </a> - Senior Research Scientist
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;"> Google Deepmind</span>
            </span>
          </li>
          <li>
            <a href="https://scholar.google.com/citations?user=TkVHKDgAAAAJ&hl=en" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Dr. Jianming Zhang
            </a> - Principal Research Scientist
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;">Adobe Research</span>
            </span>
          </li>
          <li>
            <a href="https://scholar.google.com/citations?user=R0bnqaAAAAAJ&hl=en" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Dr. Zhe Lin
            </a> - Senior Principal Research Scientist
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;">Adobe Research</span>
            </span>
          </li>
          <li>
            <a href="https://research.adobe.com/person/eli-shechtman/" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Dr. Eli Shechtman
            </a> - Senior Principal Research Scientist
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;">Adobe Research</span>
            </span>
          </li>
          <li>
            <a href="https://richzhang.github.io/" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Dr. Richard Zhang
            </a> - Principal Research Scientist
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;">Adobe Research</span>
            </span>
          </li>
          <li>
            <a href="https://www.sainingxie.com" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Prof. Saining Xie
            </a> - Assistant Professor
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;">New York University</span>
            </span>
          </li>
          <li>
            <a href="https://research.facebook.com/blog/2019/7/qa-with-director-of-computational-photography-michael-f-cohen/" target="_blank" style="color: #1877F2; font-weight: bold; text-decoration: none;">
              Prof. Michael Cohen
            </a> - Director of Computational Photography
            <span style="display: inline-block; margin-left: 10px;">
              🏛️ <span style="font-style: text;">Meta GenAI</span>
            </span>
          </li>
        </ul>
      </div>
</div>
