<!----------------------------------- bio ----------------------------------->
<div class="bio" id="bio">
	<h2>About Me</h2>
    I am a postgraduate student pursuing the <em>Masters of Machine learning and Computer Vision</em> at the <b>Australian National University</b>. Currently, I am working on research problems in the fields of computer vision and reinforcement learning under the supervision of 
    <a href="https://scholar.google.com/citations?user=vNHqr3oAAAAJ&hl=en" target="_blank">Prof. Liang Zheng</a>.<br><br>

	Previously, I was working as a machine learning research engineer at <b>Yahoo Japan, Tokyo</b>. I received my Bachelors in Electrical Engineering with specialization in <em>intelligent and cognitive systems</em> from Indian Institute of Technology, Delhi (<b>IIT Delhi</b>).<br><br>

	My research interests include computer vision, deep reinforcement learning, vision and language navigation, biologically inspired (deep) learning algorithms, smart adversarial game-playing agents.</p>
</div>