<!----------------------------------- bio ----------------------------------->
<div class="bio" id="bio">
	<h1>Bio</h1>
    <p>I am a <em>Machine Learning Research Engineer</em> previously working at <b>Yahoo Japan</b>.  I completed my BTech(Bachelors) in Electrical Engineering with <em>Departmental Specialization in Intelligent and Cognitive Systems</em> at IIT Delhi. My research interests include: Computer vision, Deep Reinforcement Learning, Biologically inspired (Deep) Learning Algorithms, Smart Adversarial Game Playing Agents.</p>
</div>