<!----------------------------------- bio ----------------------------------->
<div class="bio" id="bio">
	<h1>Bio</h1>
    I am a postgraduate student studying <em>machine learning</em> and <em>computer vision</em> at the <b>Australian National University</b>. Previously, I was working as a machine learning research engineer working at Yahoo Japan. My research interests include computer vision, deep reinforcement learning, biologically inspired (deep) learning Algorithms, smart adversarial game-playing agents.</p>
</div>