<!----------------------------------- Clustrmaps Map Widget----------------------------------->
<div class="map_widget" id="map">
<!-- <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=vBKVve6-UI-vcAnWM0qIIPk2tB4G9sifyS1pOZO9g_g"></script> -->
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=m&d=vBKVve6-UI-vcAnWM0qIIPk2tB4G9sifyS1pOZO9g_g&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff"></script>
</div>