<div class="featured_work">
    <!-- <hr class="news-separator" /> -->
    <h2 class="news-title">News</h2>
    <!-- <hr class="news-separator" /> -->
    <ul class="news-list">
      <li><b>[April, 2025]</b> 🚨 Introducing DeepSWE-Preview 🚨 - A reasoning-enabled coding agent achieving SOTA performance on SWE-Bench-Verified using only reinforcement learning!! 🏆</li>
      <li><b>[June, 2025]</b> REPA-E accepted to ICCV 2025 🏝️ See you in Hawaii!! 🌺</li>
      <li><b>[April, 2025]</b> Released R2E-Gym 🚀 - Achieved 51% success rate on SWE-Bench, setting new SOTA for open-weight SWE agents!</li>
      <li><b>[April, 2025]</b> Released REPA-E 🎨 - Enabling stable end-to-end training of latent diffusion transformers with SOTA generation performance and 45x accelerated training!</li>
      <li><b>[March, 2025]</b> 1 paper accepted to CVPR 2025 🎉</li>
      <li><b>[Jan, 2025]</b> Three papers (1 Oral and 2 Poster) accepted at ICLR 2025 🎉🎉🎉</li>
      <li><b>[May, 2024]</b> Started Internship at <a href="https://research.fb.com/" target="_blank" style="text-decoration: none"> Meta GenAI</a> working on subject-consistent video generation 🤗</li>
      <!-- add more news items here -->
    </ul>
    <hr class="news-separator" />
  </div>