<!----------------------------------- projects ----------------------------------->

<div class="featured_work" id="projects">
	<h1>Other Projects</h1> 
	<!-- <a href="#projects"><i class="fas fa-link"></i></a> -->
	<table class="featured-work_table">
		<tbody>
			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/rl_navigation" target="_blank"><img alt="project-banana_world" class="project_logo" src="assets/images/proj-banana_world"></a>
				</td>
				<td class="work_col_2">
					<h2> Navigation </h2>
					<ul>
						<li>Trained a Deep Reinforcement Learning Agent to navigate a world simulated in the Unity Environment.</li>
						<li>The underlying model was a Dueling Double Deep Q Network (DDQN) with prioritized experience replay.</li>
					</ul>
				</td>
			</tr>


			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/RL_quadcopter" target="_blank"><img alt="project-rl_quad" class="project_logo" src="assets/images/proj-rl_quad"></a>
				</td>
				<td class="work_col_2">
					<h2> Flying a Quadcopter </h2>
					<ul>
						<li>Trained an Reinforcement learning based agent to learn how to fly a quadcopter </li>
						<li>Actor-Critic based DDPG algorithm is used along with prioritized experience replay</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/rl_reacher" target="_blank"><img alt="project-rl_reacher" class="project_logo" src="assets/images/proj-rl_reacher"></a>
				</td>
				<td class="work_col_2">
					<h2> Robotic arm control </h2>
					<ul>
						<li>Trained mutliple Double-jointed robotic arms to reach target locations using PPO algorithm</li>
						<li>Uses multiple (non-interacting, parallel) copies of the same agent to distribute the task of gathering experience</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/rl_tennis" target="_blank"><img alt="project-rl_tennis" class="project_logo" src="assets/images/proj-rl_tennis"></a>
				</td>
				<td class="work_col_2">
					<h2> Multi agent Collaboration/Competition </h2>
					<ul>
						<li>Trained a pair of RL agents to play tennis using Multi Agent DDPG (MADDPG) algorithm</li>
						<li>The model consists of a centralized critic for each agent with access to combined state and action values from all agents</li>
					</ul>
				</td>
			</tr>
			
			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/alphazero_tictactoe" target="_blank"><img alt="project-alphazero_tictactoe" class="project_logo" src="assets/images/proj-alphazero_tictactoe"></a>
				</td>
				<td class="work_col_2">
					<h2> Alphazero for Tictactoe </h2>
					<ul>
						<li> Alphazero implementation for the game of Tictactoe</li>
						<li> Extended the solution to a larger and difficult 6-6-4 Tictactoe.</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/rl_crawler" target="_blank"><img alt="project-rl_crawler" class="project_logo" src="assets/images/proj-rl_crawler"></a>
				</td>
				<td class="work_col_2">
					<h2> Crawler </h2>
					<ul>
						<li>Trained a 4 legged agent to walk in Crawler Unity Environment</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/rl_bipedal" target="_blank"><img alt="project-rl_bipedal" class="project_logo" src="assets/images/proj-rl_bipedal"></a>
				</td>
				<td class="work_col_2">
					<h2> Bipedal Walker </h2>
					<ul>
						<li>Implementation of Proximal Policy Optimization (PPO) for OpenAI's Bipedal Walker environment </li>
						<li> GAE approach is used for computing the advantage estimates </li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/rl_pong" target="_blank"><img alt="project-rl_pong" class="project_logo" src="assets/images/proj-rl_pong"></a>
				</td>
				<td class="work_col_2">
					<h2> Playing Pong </h2>
					<ul>
						<li>Trained a Deep Reinforcement Learning Agent to play the game of pong using Proximal Policy Optimization (PPO)</li>
						<li>The agent learns directly from 2D image data</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/MADDPG" target="_blank"><img alt="project-pdeception" class="project_logo" src="assets/images/proj-pdeception"></a>
				</td>
				<td class="work_col_2">
					<h2> Physical Deception </h2>
					<ul>
						<li>Multi agent DDPG agent trained on a physical deception task</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/face_generation" target="_blank"><img alt="project-face_gen" class="project_logo" src="assets/images/proj-face_gen"></a>
				</td>
				<td class="work_col_2">
					<h2> Face Generation </h2>
					<ul>
						<li>Trained a Generative Adversarial Network(DCGAN) to generate realistic assets/images for celebA, MNIST, CIFAR and anime datasets</li>
						<li>Used GANs to train a semi supervised classifier on CIFAR dataset</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/gen_text" target="_blank"><img alt="project-banana_world" class="project_logo" src="assets/images/proj-gen_text"></a>
				</td>
				<td class="work_col_2">
					<h2> Text Generation </h2>
					<ul>
						<li>Char-RNN based text generation in Tensorflow</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="https://github.com/1jsingh/sudoku_solver" target="_blank"><img alt="project-sudoku_solver" class="project_logo" src="assets/images/proj-sudoku_solver"></a>
				</td>
				<td class="work_col_2">
					<h2> Sudoku Solver </h2>
					<ul>
						<li>Sudoku solver that can solve any sudoku puzzle just as humans do </li>
						<li>The algorithm uses Constraint Propagation in Search Trees in order maximize efficiency</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="#"><img alt="project-1" class="project_logo" src="assets/images/proj-1.png"></a>
				</td>
				<td class="work_col_2">
					<h2> Portfolio website </h2>
					<ul>
						<li>Built my personal website using HTML and CSS</li>
						<li>Made the webpage responsive in order to ensure smooth viewing experience for a range of device sizes</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="memory_game" target="_blank"><img alt="project-2" class="project_logo" src="assets/images/proj-2.png"></a>
				</td>
				<td class="work_col_2">
					<h2>Memory Matching Game Interface</h2>
					<ul>
						<li>Implementation of memory matching game using javascript and DOM</li>
					</ul>
				</td>
			</tr>

			<tr class="work_row">
				<td class="work_col_1">
					<a href="#"><img alt="project-3" class="project_logo" src="assets/images/proj-3.png"></a>
				</td>
				<td class="work_col_2">
					<h2>Arcade Game</h2>
					 <ul>
					 	<li>Classic Arcade Game built using Object oriented Design patterns</li>
					 </ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>