<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<!-- link to the icon image -->
	<link href="/assets/images/icon.png" rel="icon" sizes="32x32" type="image/png">
	<!-- title -->
	<title>{{ page.title }}</title>
	<!-- link to the css style files -->
	<link href="/tools/css/all.css" rel="stylesheet">
	<link href="/assets/css/styles.css" rel="stylesheet">
	<link href="/tools/academicons-1.9.0/css/academicons.min.css" rel="stylesheet">
	{% feed_meta %}
    {% seo %}
</head>

<body>
	<!----------------------------------- navbar ----------------------------------->
	{% include navigation.html %}
	
	<!----------------------------------- main body ----------------------------------->
	<main>
		{{ content }}
	</main>
	<!-- link to the javascript file -->
	<script src="/assets/js/main.js"></script>
</body>
</html>